*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
.container{
    display: flex;
}
aside{
    width: 300px;
    background-color: rgb(0, 26, 56);
    height: 100vh;
    min-height: 700px;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 2em;
}
aside ul{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
ul li{
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

main{
    min-height: 700px;
    height: 100vh;
    width: 100%;
    overflow: auto;
}
 
main article{ /* hide all options */
    height: 100vh;
    min-height: 700px;
    display: none;
    overflow: hidden;
    background-color: rgb(78, 199, 255);
}
#create{
    display: flex;
}
.form {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form form{
    width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form form div{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between
}
.form input, select{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

/*  See results */

#see{
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly
}
button{
    width: 170px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(0, 26, 56);
    color: #fff;
}

/* table styles */

table, tr, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: 0 auto;
    background-color:rgb(212, 212, 250);
    z-index: 999;
}
.row{
    height: 30px;
    background-color: rgb(255, 255, 255);
}
td, th{
    padding: 5px;
}

/*  make th fixed to top */

thead tr th {
    position: sticky;
    top: 0;
    background-color:rgb(212, 212, 250);
}

#getResult{
    width: 80%;
    overflow: auto;
    height: 500px;
    position: relative;
}

/* style scrollbar for table */

#getResult::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    
#getResult::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
#getResult::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 10px;
    }
    
#getResult::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
}

/* style search inputs */
#search-by-name, #deleteByCode{
    width: 300px;
    margin: 0 auto;
    display: flex;
    
}
#search-by-name input, #deleteByCode input{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    margin-right: 20px;
}

/* delete */

#delete form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}